*{
    color: white;
}

footer{
}
footer p{
    margin: 0;
    text-align: center;
}

footer h1{
    margin: 0;
    text-align: center;
}

iframe {
    width: 100%;
    border: 2px solid white;
    position: relative;
    margin: auto;
    height: auto;
    padding: 0;

}


