footer p{
    text-align: center;
    margin: 0;
    background-color: rgb(67, 67, 67);
    color: rgb(255, 255, 255);
}
footer{

    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(67, 67, 67);
    text-align: center;
    padding: 10px 0;

}