/*DEVELOPER: Romeo Dumay, IS117-002, Spring, 2025 */

#test {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(143, 169, 109);
    border: none;
}

#Slogo {
    width: 20%;
    height: 20%;
    display: block;
    padding: 0.5%;
    position: relative;
    right: 1%;
}

#Quick {
    margin: auto;
    display: flex;
}

#Quick table {
    margin: 0;
    display: flex;
    padding: 0.1% 0.1%;
    border-collapse: collapse;
}

#Quick th {
    padding: 2% 2%;
    font-size: 120%;
    border: 0.3% solid rgb(143, 169, 109);
    border-style: inset;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 7%;
    left: 35%;
}

#testH {
    overflow: hidden;
}

/* Navbar styling */
.navbar {
    background-color: rgb(14, 15, 21);
}

.navbar-nav .nav-link {
    color: white;
    font-size: 120%;
    padding: 1%;
    background-color: rgb(14, 15, 21);
}

.navbar-nav .nav-link:hover {
    color: white;
    background-color: rgb(143, 169, 109);
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(143, 169, 109);
}

.dropdown-menu {
    background-color: white;
    border: 0.15% solid rgb(143, 169, 109);
}

.dropdown-item:hover {
    background-color: rgb(143, 169, 109);
    color: white;
}
