*{
    color: white;
    
}

@font-face {
    font-family: "Tiki";
    src: url('Fonts/Caesar_Dressing/CaesarDressing-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


p{
    font-family: "CaesarDressing-Regular";
}

topofPage h1{
    color: white;
    font-family: "Tiki", sans-serif;
    font-size: 300%;
    text-align: center;
}


#webB{
    background-color: #06241f;
    height: auto;
    width: auto;
}


introduction p{
    font-size: 180%;
    text-align: center;
    color: white;
    padding: auto;
    padding-bottom: 50px;
}

.Welcome{
    text-align: center;
    color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12.5%;
    max-width: 100%;
    height: auto;
}
