@font-face {
    font-family: "CaesarDressing-Regular";
    src: url('C:\Users\romed\OneDrive\Documents\Html project\Cryptic-_117\Fonts\Caesar_Dressing')format('ttf');
}

p{
    font-family: "CaesarDressing-Regular";
}

#Quicklinks{
    margin: auto;
}

topofPage img{
    width: 50px;
    height: auto:
}

topofPage h1{
    color: white;
    font-family: "CaesarDressing-Regular";
}

body{
    background-color: #06241f;
}

#sLogo{
 
}

#Quicklinks th{
    padding: 30px 30px;
    font-size: 18px;
    border:  4.5px solid #06241f;
    border-style: inset;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
}

introduction p{
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'CaesarDressing-Regular';
}

.Welcome{
    text-align: center;
    color: white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    max-width: 100%;
    height: auto;
}