/*DEVELOPER: Romeo Dumay, IS117-002, Spring, 2025 */

#Cbody {
    background-color: rgb(193, 18, 31);
}

#Goat {
    width: 15%;
    display: flex;
    position: relative;
    align-items: center;
    left: 45%;
    padding: 0.5%;
}

#GoatH {
    font-size: 250%;
    padding: 0.5%;
    position: relative;
    margin: 0;
}

#desGoat {
    width: 30%;
    position: relative;
    left: 38%;
    background-color: rgba(52, 36, 36, 0.626);
    color: white;
}

#DD {
    width: 15%;
    display: flex;
    position: relative;
    align-items: center;
    left: 45%;
    padding: 0.5%;
}

#DDH {
    font-size: 250%;
    padding: 0.5%;
    position: relative;
    margin: 0;
}

#desDD {
    width: 30%;
    position: relative;
    left: 38%;
    background-color: rgba(52, 36, 36, 0.626);
    color: white;
}

ListCry {
    text-align: center;
}
