#goatB{
    background-color: rgb(193, 18, 31);
}

p{
    width: 1000px;
    background-color: #fdf0d5;
    text-align: center;
    align-items: center;
    position: relative;
    left: 250px;
    padding: 30px 30px;
    color:black;
}

h2{
    text-align: center;
}

body{
    width: auto;
    height: auto;
}