/*DEVELOPER: Romeo Dumay, IS117-002, Spring, 2025 */

#goatB{
    background-color: rgb(193, 18, 31);
}

@font-face {
    font-family: "Rocker";
    src: url('../../Fonts/New_Rocker/NewRocker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#goatBack{
    width: 70%;
    height: auto;
    padding: 2.5%;
    border: none;
    box-sizing: border-box;
    background-color: #fdf0d5;
    text-align: center;
    align-items: center;
    position: relative;
    left: 17.5%;
    color: black;
    font-size: 125%;
    margin-top: 1%;
}

#imgG1{
    width: 35%;
    position: relative;
    left: 35%;
    padding: 2% 0.5%;
}


p{
    color:black;
    font-family: "Rocker", "san-serif";
}

h1{
    text-align: center;
}

#By1{
    color: #2a2a2a;
    padding: 0.1%;
    margin: 0;
}

.By1{
    width: 70%;
    position: relative;
    left: 20%;
    font-size: 87.5%;
    padding: 0;
}

u{
    color: black;
}