
#Cbody{
    background-color: #2B3349;
}

#Moon{
    width: 15%; /* was 200px */
    display: flex;
    position: relative;
    align-items: center;
    left: 45%; /* was 650px */
    padding: 0.5%;
}

#Moonl{
    font-size: 3vw; /* was 40px */
    padding: 0.5%;
    position: relative;
    margin: 0;
}

#desMoon{
    width: 30%; /* was 400px */
    position: relative;
    left: 38%; /* was 550px */
    background-color: rgba(52, 36, 36, 0.626);
    color: white;
}

#Il{
    width: 15%; /* was 200px */
    display: flex;
    position: relative;
    align-items: center;
    left: 45%; /* was 650px */
    padding: 0.5%;
}

#Illu{
    font-size: 3vw; /* was 40px */
    padding: 0.5%;
    position: relative;
    margin: 0;
}

#desIl{
    width: 30%; /* was 400px */
    position: relative;
    left: 38%; /* was 550px */
    background-color: rgba(52, 36, 36, 0.626);
    color: white;
}

ListCon{
    text-align: center;

}